@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

/* Slightly tighter doc typography */
.prose :where(h2, h3) {
  scroll-margin-top: 5rem;
}

.fd-steps {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
