---
const { label, intro } = Astro.props;
---

<section class="home-section">
	<header class="home-section__head">
		<span class="home-section__label">[{label}]</span>
		{intro && <p class="home-section__intro">{intro}</p>}
	</header>
	<div class="home-section__body">
		<slot />
	</div>
</section>
